
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        font-size: 14px;
    }

    .footer {
        text-align: center;
        font-size: 12px;
    }
}
  
    .card {
        width: 100%; /* Ajustar a largura dos cards */
        margin-bottom: 20px;
    }
}
